syntax on
set tabstop=2
set termguicolors
set confirm
set shiftwidth=2
set expandtab
set ai
set si
set number
set mouse=a
set laststatus=2
set hlsearch
"set paste
set ruler
set background=dark
highlight Comment ctermfg=green

call plug#begin('~/.vim/plugged')
Plug 'morhetz/gruvbox'
call plug#end()

let g:gruvbox_contrast_dark = 'light'
colorscheme gruvbox
autocmd vimenter * ++nested colorscheme gruvbox
